/* ------------------- CONSTANT VARIABLES ------------------- */
:root {
    --main-background: #010a38;
    --login-background: #010a38;
    --login-gradient: linear-gradient(to right, #313a5e, #4049c7, #003cff);
    --button-gradient: linear-gradient(to right, #313a5e, #313bce, #003cff);
}

/* ------------------- TAG STYLING ------------------- */
html, body {
    height: 100vh;
    font-family: 'Heebo';
}
h2{
    font-size: 45px;
    text-align: center;
}
p{
    font-size: 15px;
    letter-spacing: 0.5px;
}
button:focus {
    border: none;
    outline: none;
}


/* ------------------- BACKGROUND STYLING ------------------- */
.mainBackground {
    background-color: var(--main-background);
}
.LoginBackground {
    background-color: var(--login-background);
}


/* -------------------  CONTAINER STYLING ------------------- */
.verticalFlex, .loginForm, .loginBox, .testCollectionForm, .divTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.horizontalFlex {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: left;
    flex-direction: row;
}
.main-container {
    position: relative;
    height: 100vh;
}
.main-container .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.main-container .loginBox {
    position: relative;
    z-index: 1;
    width: 450px;
    height: 430px;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.45); 
    box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.35);
}
.testCollectionContainer {
    min-height: 100vh;
    padding: 2rem 0rem;
}
.poolContainer {
    /* display: flex; */
    /* flex-flow: row wrap; */
    min-height: 100vh;
    padding: 2rem;
}
.poolConstructor {  /* new pool box */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    max-height: 75vh;
    width: 450px;
    /* margin: 2rem; */
    margin: auto;
    background-color: #fafafa;
    box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.15);
}
.poolTableContainer {
    min-width: 500px;
    /* min-height: 270px;
    max-height: 810px;
    overflow: auto; */

    /* Uncomment the following to see the maxheight of the div */ 
    /* height: 810px;
    background-color: white; */
}
@media screen and (max-width: 1100px){
/* ... */
}



.divTitle {
    width: 100%;
    background-color: #6bc2c5;
    color:white;
    padding: 10px 0px 0px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* ------------------- FORM STYLING ------------------- */
.loginForm {
    padding: 10px
}
.testCollectionForm {
    width: 450px;
    height: 200px;
    margin: auto;
}
.poolAdditionForm {
    width: 100%;
    padding: 20px 20px 0 20px;
}
.loginInput{
    margin: 10px;
    margin-bottom: 15px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    padding: 10px;
    outline: none;
    transition: 0.5s;
    letter-spacing: 1px;
}
.loginInput:focus{
    border: 2px solid #2865dd; 
}



/* ------------------- ALERT STYLING ------------------- */
.loginError {
    animation: shake .4s linear;
}
@keyframes shake {
    8%, 41% {
        transform: translateX(-7px);
    }
    25%, 58% {
        transform: translateX(7px);
    }
    75% {
        transform: translateX(-4px);
    }
    92% {
        transform: translateX(4px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}

/* TABLES */
.table-two-col {
    border-collapse: collapse;
    margin: 0 0 0 0;
    margin-top: 40px;
    font-size: 1em;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-two-col thead tr {
    /* c4adc9 */
    background-color: #142d70;
    color: white;
    text-align: left;
    font-weight: bold;
}
.table-two-col th, td {
    padding: 10px 15px;
    vertical-align: middle;
}
.table-two-col tbody tr {
    border-bottom: 1px solid lightgrey;
}
.table-two-col tbody tr:nth-of-type(even) {
    background-color: rgb(250, 250, 250);
}
.table-two-col tbody tr:nth-of-type(odd) {
    background-color: white;
}
.table-two-col tbody tr:last-of-type {
    border-bottom: 2px solid #142d70;
}

/* #newPoolTable {
    margin: auto;
    width: inherit;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 2px solid #6bc2c5;
} */


.loginBtn {
    border-radius: 10px;
    background-image: var(--login-gradient);
    background-size: 200%;
    padding: 10px;
    width: 370px;
    height: 50px;
    text-align: center;
    outline: none;
	border: none;
    transition: .5s;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.loginBtn:hover{
    background-position: right;
}
.loginBox h2 {
    /* font-family: Heebo; */
    font-size: 50px;
    font-weight: 700;
}
.footer{
    z-index: 1;
    padding:30px;
    bottom: 0;
}
.footer p{
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
.bkgdSvg{
    z-index:0;
    position: absolute;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
}
.loginContBtn {
    background-image: var(--button-gradient);
    background-size: 200%;
    width: 165px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    margin-top: 20px;
    transition: .5s;
}
.loginContBtn:hover{
    background-position: right;
}

/* ------------------- EMPLOYEE HOME STYLING ------------------- */
.employeeBody {
    background-color: #17255a;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}
.employeeBody h2{
    font-family: 'Heebo';
    font-weight: bold;
    font-size: 50px;
}
.employeeWrapper {
    padding-top: 50px;
}
.employeeContainer {
    background: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 60%;
    max-height: 100%;
    padding: 50px;
    border-radius: 18px;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.35);
}
.employeeTopSvg{
    position: absolute;
    z-index: 0;
    top: 0;
}
.employeeSvg{
    position: absolute;
    z-index: 0;
    bottom: 0;
}